body {
    font: normal 13pt Arial;
    background: #8744df;
  }
  header {
    color: white;
    text-align: center;
  }
  section {
    width: 500px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.37);
  }
  footer {
    color: white;
    text-align: center;
    font-style: italic;
  }